@import url('https://fonts.googleapis.com/css?family=Lato:300,900');

:host {
  width: 100%;
  margin-bottom: 2em;
  display: block;
}

/* ========================================== */
/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: #fff;
  z-index: 100;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.cs-select:focus {
  outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select {
  display: none;
}

.cs-select span {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  visibility: hidden;
}

.cs-select.cs-active .cs-options {
  visibility: visible;
}

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cs-select ul span {
  padding: 1em;
}

.cs-select ul li.cs-focus span {
  background-color: #ddd;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
  cursor: default;
}



div.cs-skin-elastic {
  background: transparent;
  font-size: 1em;
  height: 100%;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 30em) {
  div.cs-skin-elastic { font-size: 1em; }
}

.cs-skin-elastic .cs-placeholder {
  background-color: #ccc;
  z-index: 100;
  display: block;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.cs-skin-elastic .cs-placeholder::after {
  font-family: 'Lato';
  content: '\003E';
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
  color: #3e3e3e;
  font-size: 26px;
  pointer-events: none;
  z-index: 2;
  transition: all 250ms cubic-bezier(.4,.25,.3,1);
  opacity: .6;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-elastic .cs-placeholder:hover::after {
  opacity: 1;
}

.cs-skin-elastic.cs-active .cs-placeholder:hover::after {
  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}

.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  visibility: visible;
  padding-bottom: 1.25em;
  pointer-events: none;
}

.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale3d(1,0,1);
  transform: scale3d(1,0,1);
  background: #ccc;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  -webkit-transform: translate3d(0,-25px,0);
  transform: translate3d(0,-25px,0);
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
  height: 100%;
  line-height: 40px;
  padding: 0 15px;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
  color: #1e4c4a;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
  content: '';
}

@-webkit-keyframes expand {
  0% { -webkit-transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1) }
  100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand {
  0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
  100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce {
  0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce {
  0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
