:host {
  .container {
    display: grid;
    padding: 1em 1.3em;

    &.container-table {
      /* min-height: 200px; */
    }

    .header {
      h3 {
        display: inline-block;
      }

      a {
        display: inline-block;
        margin-left: 15px;
        border: 0;
        padding: .8em 2em;
        background: #a5f883;
        color: #003a61;
        cursor: pointer;
        font-weight: 700;
        font-size: .8em;
      }
    }
  }

  .color-dark {
    background: #2885c4;
  }

  .color-light {
    background: #57b3f1;
  }

  .life-container {
    background: #3fa0e1;
    padding: 0.5em;
    font-weight: 700;
    cursor: pointer;
    margin-bottom: 0.5em;

    .data-container,
    .options-container {
      display: inline-block;
    }

    .data-container {
      width: 90%;
    }

    .options-container {
      width: 10%;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  /*
    danger: #f24d4d
    success: #4df28e, #4df2aa, #10c274

  */
}


/* Customize the label (the container) */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox .checkmark:after {
  left: 9px;
  top: 7px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
